.caixa{
    background-color: #F1F1F1;
    padding: 50px;
    border: solid 1px #B6B6B6;
    border-radius: 10px;
}

#text-formulario{
    font-weight: bold;
}

form{
    padding: 30px;
}

.caixa-relatorio{
    margin-top: 20vh;
    background-color: #F1F1F1;
    padding: 40px;
    border: solid 1px #B6B6B6;
    border-radius: 10px;
}